:root {
    --project-TextAndSubtext-transform: -50%;
    --project-TextAndSubtext-bottomPadding: 24vw;
    /* --project-TextAndSubtext-bottomPadding: 24vw; */
  }

/* Позиционирование картинок в блоке */
.projects-img-left {
    position: relative;
}

.projects-img-center {
    position: relative;

    left: 50%;
    transform: translateX(-49.5%);
}

.projects-img-right {
    position: relative;
    left: 50%;
    transform: translateX(-82.5%);
}

/* Затемнение фотографий*/
.blockOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56.25vw;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
}

/* Заголовок и подзаголовок блока */

.projects-text {
    position: absolute;
    width: 100%;

    text-align: center;
    font-size: 2.5vw;


    bottom: var(--project-TextAndSubtext-bottomPadding);
    transform: translateY(var(--project-TextAndSubtext-transform));
    z-index: 2;
    color: white;
}

.projects-subtext {
    position: absolute;
    width: 100%;

    text-align: center;
    text-transform: uppercase;
    transform: translateY(var(--project-TextAndSubtext-transform));
    font-size: 1vw;

    bottom:calc( var(--project-TextAndSubtext-bottomPadding) - 20px) ;
    z-index: 2;
    color: white;
}